.mat {
  &-nav-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-list-item {
    height: 3rem;
  }

  &-list-item__li {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &-list-item__title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-icon-button--delete {
    height: 1.8rem;
    margin-left: auto;

    font-size: 1rem;
  }

  &-icon--group {
    width: 1.8rem;
    height: 1.8rem;
    font-size: 1.8rem;
  }
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 2.5rem;
  min-height: 2.5rem;

  border-radius: 50%;
  border: 0.1rem solid rgba(0, 0, 0, 0.4);
}
