.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.blur {
  filter: blur(2px);
}

.form-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 30rem;
  padding: 2rem;
  margin-top: 8rem;

  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;

  &__fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    padding: 1.5rem;

    border: none;
  }

  &__legend {
    margin-bottom: 2rem;

    color: #646464;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 2.4rem;
  }
}

.mat {
  &-form-field {
    width: 100%;
  }

  &-button {
    align-self: center;
    width: 100%;

    font-size: 2rem;
  }

  &-spinner {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
  }
}

.signin-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;

  border-top: 0.1rem solid rgba(0, 0, 0, 0.2);

  &__title {
    text-align: center;

    color: #646464;
    font-size: 1.8rem;
    font-weight: 500;
  }
}
